<div class="container">
    <h1 class="title">¡Bienvenido! Estos son los productos que tenemos disponibles.</h1>

    <div id="products-container"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>